@use "../variables"
  
.CurrentWallet
  position: relative
  padding: .3em 0
  text-align: center
  border-bottom: 1px solid #eaeaea
  background-color: #fff

  @media (prefers-color-scheme: dark)
    border-bottom-color: #333
    background-color: #000

  h1
    font-size: 2em
    font-weight: 600
    margin: 0
      bottom: .11em
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center

    svg
      font-size: .55em
      width: 1em
      height: 1em
      margin-left: .5em

  p
    font-size: .82em
    margin: 0
    color: variables.$secondary-text-light
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: 80%
    margin: 0 auto
    cursor: pointer
    font-weight: 500
    transition: all .23s ease-in-out

    &:hover
      opacity: .77

    @media (prefers-color-scheme: dark)
      color: variables.$secondary-text-dark

    &.Copied
      color: #666666

      @media (prefers-color-scheme: dark)
        color: #cacaca

  .Icon
    position: absolute
    top: 50%
    right: 1em
    cursor: pointer
    color: variables.$secondary-text-light
    transform: translateY(-50%)
    transition: all .23s ease-in-out

    &.Open
      transform: translateY(-50%) rotate(180deg)

    @media (prefers-color-scheme: dark)
      color: variables.$secondary-text-dark

    svg
      width: 1.23em
      height: 1.23em

  .Wallets
    position: absolute
    top: 100%
    left: 0
    right: 0
    z-index: 1000
    background-color: variables.$lighter-bg-light

    @media (prefers-color-scheme: dark)
      background-color: variables.$lighter-bg-dark

    .Wallet
      $removeWidth: 2.3em
      display: flex
      align-items: center
      justify-content: space-between
      background-color: variables.$lighter-bg-light
      border-top: 1px solid #eaeaea
      padding: .3em .95em
      cursor: pointer
      text-align: left
      transition: all .25s ease-in

      &.Options
        justify-content: flex-end
        align-items: flex-end
        font-size: 1.125em
        border-bottom: 1px solid #eaeaea
        cursor: default
        padding:
          top: .8em
          bottom: .8em

        @media (prefers-color-scheme: dark)
          border-color: #333

      @media (prefers-color-scheme: dark)
        background-color: variables.$lighter-bg-dark
        border-color: #333

      &:hover:not(.Options)
        background-color: #fcfcfc

        @media (prefers-color-scheme: dark)
          background-color: #030303

      .Info
        position: relative
        width: calc(100% - #{$removeWidth})

        input
          background-color: transparent
          border: none
          outline: none
          color: #000
          padding: 0
          margin: 0
          font-size: 1.65em
          font-weight: 600
          max-width: 100%
          border-bottom: 1px solid transparent
          transition: all .3s ease-in-out

          @media (prefers-color-scheme: dark)
            color: #fff

          &:hover
            border-bottom-color: rgba(#000, .5)

            @media (prefers-color-scheme: dark)
              border-bottom-color: rgba(#fff, .5)

        p
          font-size: 1em
          margin: 0
          color: variables.$secondary-text-light
          width: auto

          &:hover
            opacity: 1

          @media (prefers-color-scheme: dark)
            color: variables.$secondary-text-dark

        .VerifiedIcon
          color: #000
          margin-left: .3em
          display: flex
          align-items: center

          @media (prefers-color-scheme: dark)
            color: #fff

          svg
            font-size: 1em
            width: 1em
            height: 1em

      .Remove, .Action
        width: $removeWidth
        cursor: pointer
        text-align: center
        transition: all .2s ease-in

        &.DisabledRemove
          cursor: not-allowed
          opacity: .75

        &:hover
          opacity: .8

        svg
          width: 1.23em
          height: 1.23em

.SwitchIndicator
  position: fixed
  bottom: 1.5em
  left: 50%
  background-color: rgba(0, 0, 0, .56)
  color: #fff
  font-size: .8em
  font-weight: 400
  padding: .66em .74em
  border-radius: 1.45em
  z-index: 10000
  transform: translateX(-50%)

  @media (prefers-color-scheme: dark)
    background-color: rgba(255, 255, 255, .56)
    color: #000

.QROverlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(#000, .8)
  z-index: 100000

  .wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    p
      font-size: 1em
      text-align: center

    .QRCode
      width: 195px
      height: 195px
      display: block
      margin: 0 auto
      box-shadow: 0px 0px 14px 14px rgb(0, 0, 0, .93)