@use "../../variables"
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap")
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Mono:wght@400;500;600&display=swap')


.Welcome
  width: 100%
  height: 100vh
  color: #000
  display: flex
  background: #fff
  align-items: center
  flex-direction: column
  justify-content: center
  font-family: 'Poppins', sans-serif

.welcomeButton
  background: #000
  color: #fff
  min-width: 8rem
  border: none
  border-radius: 14px
  font-size: 17px
  font-weight: 500
  margin-top: 2rem
  padding: 0.5rem 1.5rem
  cursor: pointer

.setupButton
  @extend .welcomeButton
  width: 18rem
  margin-top: 0
  transition: all 500ms ease-in-out

  &:hover 
    transform: scale(1.05)


.cancelButton
  @extend .setupButton
  background: none
  color: #666
  font-weight: 500
  padding: 0.4rem 1.4rem
  border: 3px solid #66666690
  transition: all 500ms ease-in-out

  &:hover 
    transform: scale(1.05)


.logo
  width: 150px
  height: 150px

.header 
  margin-top: 1rem
  text-align: center
  font-size: 38px
  font-weight: 500
  font-family: inherit
  
.intro
  text-align: center
  margin: 0
  font-family: inherit
  font-weight: normal
  text-align: center
  font-size: 1rem
  color: #666666
  width: 70%

.fees
  color: #000
  font-size: 14px
  font-weight: bold

#overRideInput
  width: 20rem
  padding: 0.4rem
  border-radius: 14px
  border: 2px solid #000

  &::placeholder
    font-size: 1rem
    color: #00000090
    font-weight: 500
    font-family: 'Roboto Mono', monospace
    margin-left: 1rem

  
.passwordLabel
  width: 20rem
  margin: 0 0 0.4rem 0
  padding: 0
  font-size: 12px
  color: #666666
  font-weight: 500
  text-transform: uppercase

.label1
  margin: 1.5rem 0 0.4rem 0

.loadwallets
  width: 30rem
  margin: 1.5rem 0
  display: flex
  gap: 2rem
  align-items: center
  justify-content: center
  
  .loadButton
    @extend .welcomeButton
    margin-top: 0

  .newWalletButton
    @extend .cancelButton
    width: 8rem



.FileInput
  position: fixed
  top: -1em
  left: -1em
  width: 1px
  height: 1px
  opacity: 0

.FileContent
  cursor: pointer
  margin-top: 1em !important
  border: 1px dashed #eaeaea !important

  @media (prefers-color-scheme: dark)
    border-color: #333 !important

  .items
    display: flex
    overflow: hidden
    align-items: center

    .Filename
      margin: 0
      white-space: nowrap

    svg
      margin-right: 1em

.Seed
  display: block !important
  margin-top: 1em !important

  &.NewSeed
    margin-top: 0 !important

.OR
  display: block
  font-size: 14px
  color: #666666
  text-align: center
  margin: 1rem 0


.th8ta
  position: absolute
  bottom: 2em
  left: 50%
  font-family: 'Ubuntu', sans-serif
  font-size: 1.8em
  font-weight: 700
  margin: 0
  text-decoration: none
  color: #000
  transform: translateX(-50%)
  
  @media screen and (max-width: variables.$smaller-screens)
    bottom: .2em

  @media (prefers-color-scheme: dark)
    color: #000

  span
    background: linear-gradient(142.25deg, #fc9867 23.99%, #ab9df2 73.9%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent