@use "../../variables"
  
.Welcome
  position: relative
  height: 100vh

  .Card
    position: absolute
    top: 50%
    left: 50%
    text-align: center
    width: 30% !important
    transform: translate(-50%, -50%)

    @media screen and (max-width: variables.$smaller-screens)
      width: 43% !important

    h1
      font-size: 2.5em
      font-weight: 500

      span
        text-transform: uppercase
        font-weight: 600
        display: inline-block

    .Actions
      margin-top: 1em

      button
        margin: 0 1em

    .Logo
      display: block
      height: 4.65em
      width: 4.65em
      margin: 0 auto
        bottom: 1.25em

.FileInput
  position: fixed
  top: -1em
  left: -1em
  width: 1px
  height: 1px
  opacity: 0

.FileContent
  cursor: pointer
  margin-top: 1em !important
  border: 1px dashed #eaeaea !important

  @media (prefers-color-scheme: dark)
    border-color: #333 !important

  .items
    display: flex
    overflow: hidden
    align-items: center

    .Filename
      margin: 0
      white-space: nowrap

    svg
      margin-right: 1em

.Seed
  display: block !important
  margin-top: 1em !important

  &.NewSeed
    margin-top: 0 !important

.OR
  position: relative
  margin-top: 1em
  display: block
  text-align: center

  &::after, &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    width: 44%
    height: 1px
    background-color: #eaeaea
    transform: translateY(-50%)

    @media (prefers-color-scheme: dark)
      background-color: #fff

  &::after
    right: 0
    left: unset

.WeaveIDButton
  width: 100% !important
  align-items: center
  margin-top: 1em

  img
    height: 1.8em
    margin-right: .5em