@use "./variables"
  
body::-webkit-scrollbar
  display: none

body
  -ms-overflow-style: none
  scrollbar-width: none
  font-family: "Poppins", sans-serif !important
  background-color: variables.$background-color !important
  color: variables.$foreground-color !important