@use "../../variables"
  
$sidePaddingTransactions: .7em
  
.Home
  background-color: variables.$background-color

.Balance
  position: relative
  text-align: center
  padding: 2.4em 0 1.84em
  color: variables.$foreground-color

  .ArBalance 
    display: flex
    align-items: center
    justify-content: center
    gap: 0.4em
    color: variables.$foreground-color

    .ChevronBalance
      cursor: pointer
      color: variables.$foreground-color
      transition: all 300ms ease-in-out

      &:active
        transform: scale(0.8)

  .Address
    display: flex
    align-items: center
    justify-content: center
    font-size: .75em
    font-weight: 600
    color: variables.$light-text
    margin-bottom: 0

    button
      display: flex
      align-items: center
      text-align: center
      justify-content: center
      background-color: transparent
      font-size: 1em
      padding: 0
      outline: none
      border: none
      cursor: pointer
      margin: 0 .23em 0 0
      transition: all .23s ease-in-out
      color: variables.$light-text

      .QRIcon, svg
        font-size: 1em
        width: 1em
        height: 1em

      &:hover
        opacity: .77

  h1, h2
    margin: 0
    color: variables.$foreground-color
    font-weight: 600
    text-align: center
    font-family: 'Poppins', sans-serif

  h1
    font-size: 2.625em
    line-height: 1.1em
    font-weight: normal
    margin: .16em 0

  h2
    font-size: 1.06em
    font-weight: 500
    line-height: 1.1em

    svg
      width: .54em
      height: .54em
      vertical-align: middle !important

  .Menu
    display: flex
    align-items: center
    justify-content: center
    margin: 2.5em 0 0 

    .Item
      color: variables.$light-text
      text-align: center
      cursor: pointer
      font-size: .9em
      margin: 0 .95em
      font-family: "Poppins", sans-serif
      transition: all .23s ease-in-out

      &.Unavailable
        cursor: default

      &:hover:not(.Unavailable)
        opacity: .9

      &:active:not(.Unavailable)
        transform: scale(.94)

      svg
        font-size: 1.4em
        font-weight: 600
        width: 1.4em
        height: 1.4em
        display: block
        margin: 0 auto

      &.SendItem svg
        transform: rotate(180deg)

      span
        display: block
        font-size: .8em

.Section
  padding: 1.4em .9em

  .Title
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 1em

    h1
      line-height: 1em
      font-size: .945em
      margin: 0
      font-weight: 500
      color: variables.$foreground-color

      &.Link
        display: flex
        align-items: center
        cursor: pointer
        color: variables.$light-text
        transition: all .23s ease-in-out

        span
          display: flex
          align-items: center
          text-align: center
          justify-content: center
          margin-left: .7em
          background-color: variables.$skeleton
          font-size: .75em
          height: 1em
          padding: .2em .5em
          border-radius: 5px

        &:hover
          opacity: .9

  .Items
    display: flex
    align-items: center
    overflow-x: visible

    .SectionItem
      margin-right: 1.5em

.QROverlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(#000, .8)
  z-index: 1000

  .Wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    p
      font-size: 1em
      max-width: 90%
      overflow-wrap: break-word
      text-align: center
      color: #fff
      margin: 0 auto
        top: 1em

      @media (prefers-color-scheme: dark)
        color: #fff

    .QRCode
      width: 195px
      height: 195px
      display: block
      margin: 0 auto
      box-shadow: 0px 0px 14px 1px rgb(0, 0, 0, .93)
