@use "../../variables"

.View
  background-color: variables.$lighter-bg-light
  padding: .65em .7em

  @media (prefers-color-scheme: dark)
    background-color: variables.$lighter-bg-dark

  div[class~=with-label]
    width: 100%

    div
      width: 100%

  .Amount
    display: flex
    align-items: stretch
    justify-content: space-between

    div[class~=with-label]
      width: 85%

    &.Target
      align-items: center
      margin-bottom: .33em

      div[class~=with-label]
        width: 92%

  .FeeDisplay
    display: flex
    align-items: center

    div[class~=tooltip]
      position: relative

      svg
        position: absolute
        top: 50%
        left: .3em
        width: .67em
        height: .67em
        transform: translateY(-50%)

.InputInfo
  margin: 0
  font-size: .83em
  display: flex
  justify-content: space-between
  color: variables.$secondary-text-light

  @media (prefers-color-scheme: dark)
    color: variables.$secondary-text-dark