@use "../../variables"

.Support
  background-color: green
  padding: .5em .5em .5em
  text-align: center

  label
    display: inline-block
    padding: 0.5em
    font-weight: bold

  .Option
    display: flex
    align-items: center

    .Status
      font-weight: normal
      padding-left: 0.5em
      cursor: pointer
