@use "../../variables"
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap")
  
.Auth
  display: flex
  flex-direction: column
  justify-content: center
  height: 100vh
  background-color: variables.$background-color
  padding: 0 1.3em
  
  h1
    text-align: center
    margin: 0
    line-height: 1em
    font-size: 2.2em
    font-weight: 500
    color: variables.$foreground-color

  p
    text-align: center
    font-size: 1.05em
    color: variables.$light-text
    font-weight: 500
    margin: .5em 0 1.6em

    &.SelectLabel
      font-size: .83em
      font-weight: 500
      text-align: left
      text-transform: uppercase
      margin: 0
        bottom: .1em

  div[class~=with-label]
    width: 100%

    div
      width: 100%

  .Allowance
    display: flex
    align-items: center
    
    .AllowanceAction
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 1.07em
      width: 100%
      width: -webkit-fill-available
      cursor: pointer

      p
        font-size: 1em
        margin: 0
          left: .4em

      svg
        font-size: .75em
        color: variables.$light-text

  .th8ta
    margin: 0
    font-family: 'Ubuntu', sans-serif
    font-size: 1.8em
    font-weight: 700
    position: absolute
    bottom: 1.35em
    left: 50%
    transform: translateX(-50%)
    color: variables.$foreground-color

    span
      background: linear-gradient(142.25deg, #fc9867 23.99%, #ab9df2 73.9%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

.Check
    display: flex
    align-items: center
  
.Check.Checked
  svg
    path:first-child
      fill: #AB9DF2 !important

.AppInfo
  display: flex
  align-items: center
  justify-content: center
  margin-top: 3em
  text-align: center
  font-size: 1em
  color: variables.$light-text

  img
    height: 1.5em
    margin-right: .35em
    user-select: none

.AllowanceModal
  [class~=with-label]
    width: 100% !important

  [class~=input-container]
    width: 100% !important

  p
    text-align: center
    color: variables.$foreground-color

.SelectWallet

  div
    width: 100% !important
    border-radius: 13px !important

  select
    padding: 0.7em !important

.PasswordInput

  span
    font-size: .8em


.OkButton 
  background: orangered variables.$background-color